@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

body {
    background-color: #111;
}
section {
    margin-top: 50px;
}

header {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 5%;
}

header .logo a {
    font-size: 25px;
    color: #29d9d5;
}
header .logo a span {
    color: #fff;
}
a {
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 15px;
    list-style-type: none;
}

.menu li a {
    color: #fff;
    font-size: 14px;
    transition: 0.5s;
}
.menu li a:hover {
    color: #29d9d5;
    border-bottom: 1px solid #29d9d5;
}

.btn-reservation {
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bold;
}
.btn-reservation:hover {
    background-color: #29d9d5;
    color: #fff;
}

/* section d'accueil */
#home {
    background: linear-gradient(rgba(0,0,0,0.1), #333), url("images/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#home h2{
    font-size: 45px;
    margin-bottom: 10px;
    -webkit-text-stroke: #fff 1px;
    color: transparent;
    text-transform: lowercase;
}

#home h4 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
}
#home p {
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
}

.home-btn {
    margin-bottom: 20px;
}

.find-trip {
    background-color: #222;
    padding: 20px;
    width: 70%;
    position: absolute;
    bottom: -50px;
}

.find-trip form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.find-trip form div, .find-trip form input[type="submit"] {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.find-trip form label {
    color: #999;
    font-size: 15px;
    margin-bottom: 10px;
}

.find-trip form input {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #29d9d5;
    font-size: 14px;
    color: #fff;
}

.find-trip form input[type="submit"] {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #29d9d5;
    cursor: pointer;
    transition: 0.5s;
}

.find-trip form input[type="submit"]:hover {
    box-shadow: 0 0 10px #29d9d5;
}
